.leftMenuVBox {
    -fx-background-color: rgba(166, 166, 166, .1);
}

.background {
    -fx-background-color: #E5E5E5;
    -fx-min-height: 100%;
    -fx-min-width: 100%;
}

.leftMenuButtons {
    -fx-background-color: rgba(166, 166, 166, .1);
    -fx-text-fill: black;
    -fx-border-style: solid;
    -fx-border-width: 0 1 1 0;
    -fx-border-color: #919191;
}

.leftMenuButtons:hover {
    -fx-cursor: hand;
    -fx-background-color: #0098CE;
    -fx-text-fill: black;
}

.leftMenuButtonsActive {
    -fx-background-color: #bdbdbd;
    -fx-text-fill: white;
    -fx-border-style: solid;
    -fx-border-width: 0 1 1 0;
    -fx-border-color: #919191;
}

.newTaxVBoxBackground {
    -fx-background-color: #ededed;
}

.newTaxTextFieldInputs {
    -fx-background-color: #ededed;
    -fx-border-insets: 0;
    -fx-border-width: 1px;
    -fx-border-color: #ededed #ededed black #ededed;
    -fx-text-fill: black;
}

.newTaxSaveButton {
    -fx-background-color: #009AD3;
    -fx-text-fill: white;
}



.newTaxSaveButton:hover {
    -fx-background-color: #007fad;
    -fx-cursor: hand;
}

